*{
    margin: 0;
    padding: 0;
    outline:none;
}
div{
    padding: 1rem;
    background-color: #eee;
    color: #1e1e1e;
    margin: 1rem;
    border-radius: .5rem;
}
h3{
    color:crimson;
}